# Env
ENVIRONMENT='dev'
# Database
DATABASE_TYPE='postgresql'
DATABASE_HOST='127.0.0.1'
DATABASE_PORT=5432
DATABASE_USER='postgres'
DATABASE_PASSWORD='123456'
# Redis
REDIS_HOST='127.0.0.1'
REDIS_PORT=6379
REDIS_PASSWORD=''
REDIS_DATABASE=0
# TSDB
TSDB_ENABLED=false
TSDB_SCHEME='http'
TSDB_HOST='127.0.0.1'
TSDB_PORT=6041
TSDB_USER='root'
TSDB_PASSWORD='taosdata'
TSDB_DATABASE='fba'
TSDB_REQUEST_TIMEOUT_SECONDS=10
TSDB_KEEP_DAYS=30

# Token
TOKEN_SECRET_KEY='1VkVF75nsNABBjK_7-qz7GtzNy3AMvktc9TCPwKczCk'
# [ App ] task
# Celery
CELERY_BROKER_REDIS_DATABASE=1
# Rabbitmq
CELERY_RABBITMQ_HOST='127.0.0.1'
CELERY_RABBITMQ_PORT=5672
CELERY_RABBITMQ_USERNAME='guest'
CELERY_RABBITMQ_PASSWORD='guest'
# [ Plugin ] oauth2
OAUTH2_GITHUB_CLIENT_ID='test'
OAUTH2_GITHUB_CLIENT_SECRET='test'
OAUTH2_GOOGLE_CLIENT_ID='test'
OAUTH2_GOOGLE_CLIENT_SECRET='test'
# [ Plugin ] email
EMAIL_USERNAME=''
EMAIL_PASSWORD=''

# 1.脱敏秘钥
ENCRYPT_SECRET_KEY=''

# 2.三元组
MASTER_SECRET=""
KEY_SALT=""

# 3.SMS
SMS_ACCESS_KEY_ID=''
SMS_ACCESS_KEY_SECRET=''
SMS_SIGN_NAME=''
SMS_TEMPLATE_CODE=''

# 4.OSS
OSS_ACCESS_KEY_ID=''
OSS_ACCESS_KEY_SECRET=''
OSS_BUCKET=''
OSS_REGION='cn-hangzhou'

# 5.Mini Program
MINI_APPID=''
MINI_SECRET=''
MINI_HOST=

# 6.Ximalaya
XIMALAYA_APP_KEY=
XIMALAYA_APP_SECRET=
XIMALAYA_SN=

# 7.liveKit
LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

# 8.Coze
COZE_CLIENT_ID=
COZE_PRIVATE_KEY=
COZE_PUBLIC_KEY_ID=
COZE_BOT_ID=

# 9.MQTT
MQTT_HOST=
MQTT_PORT=
MQTT_USERNAME=
MQTT_JWT_SECRET=
MQTT_PASSWORD=

# a.OpenAI
AZURE_OPENAI_MODEL=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_SUBSCRIPTION_KEY=
AZURE_OPENAI_API_VERSION=

# b.火山 TTS
BYTES_TTS_APPID=''
BYTES_TTS_TOKEN=''
BYTES_TTS_LONG_RESOURCE_ID='seed-icl-2.0'
BYTES_TTS_LONG_QUERY_RESOURCE_ID=''
BYTES_TTS_LONG_SUBMIT_URL='https://openspeech.bytedance.com/api/v3/tts/submit'
BYTES_TTS_LONG_QUERY_URL='https://openspeech.bytedance.com/api/v3/tts/query'
BYTES_TTS_LONG_TIMEOUT_SECONDS=60
BYTES_TTS_LONG_QUERY_INTERVAL_SECONDS=2
BYTES_TTS_LONG_QUERY_TIMEOUT_SECONDS=1800

# c.火山 OpenAPI
BYTES_OPENAPI_ACCESS_KEY=''
BYTES_OPENAPI_SECRET_KEY=''
BYTES_OPENAPI_HOST='open.volcengineapi.com'
BYTES_OPENAPI_REGION='cn-north-1'
BYTES_OPENAPI_SERVICE='speech_saas_prod'
BYTES_OPENAPI_VERSION='2025-05-21'
BYTES_OPENAPI_TIMEOUT_SECONDS=10

# d.豆包大模型
DOUBAO_API_KEY=''
DOUBAO_BASE_URL='https://ark.cn-beijing.volces.com/api/v3'

# e.Viking Memory
VIKING_MEMORY_ENABLED=true
VIKING_MEMORY_COLLECTION_NAME='JS61'
VIKING_MEMORY_PROJECT_NAME='default'
VIKING_MEMORY_HOST='api-knowledgebase.mlp.cn-beijing.volces.com'
VIKING_MEMORY_REGION='cn-beijing'
VIKING_MEMORY_SCHEME='https'
VIKING_MEMORY_TIMEOUT_SECONDS=30
VIKING_MEMORY_API_KEY=''
VIKING_MEMORY_EVENT_MEMORY_TYPES='["event_v1", "event_education"]'
VIKING_MEMORY_PROFILE_MEMORY_TYPES='["profile_v1", "profile_education", "knowledge_mastery"]'

# f.Weather
WEATHER_API_HOST=''
WEATHER_API_KEY=''
WEATHER_DEFAULT_LOCATION='广州'
WEATHER_TIMEOUT_SECONDS=10