# 定义网络
networks:
  aosp_network:
    driver: bridge

services:
  aosp-22001:
    image: aosp-build:latest
    container_name: aosp-22001
    restart: unless-stopped
    environment:
      TZ: Asia/Shanghai
    networks:
      - aosp_network
    ports:
      - "22001:22"
    volumes:
      - ${DATA_ROOT}/22001:/aosp  # 每个容器独立源码目录
      - /root/.ssh:/root/.ssh:ro  # 添加:ro只读模式

  aosp-22002:
    image: aosp-build:latest
    container_name: aosp-22002
    restart: unless-stopped
    environment:
      TZ: Asia/Shanghai
    networks:
      - aosp_network
    ports:
      - "22002:22"
    volumes:
      - ${DATA_ROOT}/22002:/aosp  # 每个容器独立源码目录
      - /root/.ssh:/root/.ssh:ro  # 添加:ro只读模式
